<!DOCTYPE html>

<html>

<head>
    <title> Home page for FC12 </title>
</head>

<body>
    <div>
        FC712-Project:
        <a href="{{ url_for('index') }}">
            Home
        </a>
        <a href="{{ url_for('login') }}">
            Login
        </a>
    </div>
    <hr> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
</body>


</html>